/* Light Mode */
:root {
  /* --background-color-two: #fcfcf7;
  --background-color: #fcfafd;
  --primary-color: #0077b5;
  --secondary-color: #f4f1f8;
  --accent-color: #0073b1;
  --text-color: #333333;
  --link-color: #0077b5;
  --border-color: #e1e9ee;
  --navbarHeightMobile: 56px;
  --carousel-speed: 35s; */
  --background-color-two: #fdfdfd;
  --background-color: #ffffff;
  --primary-color: #0077b5;
  --secondary-color: #f0f0f0;
  --accent-color: #005f99;
  --text-color: #333333;
  --link-color: #0077b5;
  --border-color: #e6e6e6;
  --navbarHeightMobile: 56px;
  --carousel-speed: 35s;
}

/* Dark Mode */
[data-theme="dark"] {
  --background-color: #1b1f23;
  --primary-color: #0077b5;
  --secondary-color: #2e3a43;
  --accent-color: #0091d5;
  --text-color: #e1e9ee;
  --link-color: #0091d5;
  --border-color: #2c3338;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  background-color: var(--background-color-two);
  color: var(--text-color);
}

p {
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  background: none;
  border: none;
  text-decoration: none;
  color: var(--link-color);
  background-color: transparent;
}

button {
  border: none;
  background: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.border {
  border-color: var(--border-color);
}

::-webkit-scrollbar {
  width: none;
  background: transparent;
}
