.navbarWrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  z-index: 2;
}

.navbarLogoImg {
  width: 50px;
  height: auto;
}

.navbarItemsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  overflow-x: auto;
}

.navbarItems {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 1024px) {
  .navbarWrapper {
    /* position: inherit; */
    flex-direction: row;
    justify-content: space-around;
    bottom: inherit;
  }

  .navbarItemsWrapper {
    width: initial;
  }
  .navbarItems {
    padding: 0;
  }

  .navbarItem {
    cursor: pointer;
    background-color: transparent;
  }

  .navbarItem:active {
    user-select: none;
    background-color: transparent;
  }
}
