.navbarWrapper,
.navbar,
.navbarSocialMediaIcons,
.navbarLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  position: fixed;
  min-width: 70%;
  margin-inline: auto;
  bottom: 10px;
  border: 1px solid var(--border-color);
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: rgba(26, 29, 43, 0.15) 0px 22px 80px;
  border-width: 1px;
  gap: 10px;
  z-index: 2;
}

.navbarItemsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  overflow-x: auto;
}
.navbarItems {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: clamp(0.5rem, 3vw, 1rem);
}

.navbarSocialMediaIcons {
  display: none;
}

.navbarLogoContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
.navbarLogoImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .navbar {
    min-width: 40%;
    bottom: inherit;
    top: 10px;
  }

  .navbarSocialMediaIcons {
    gap: 10px;
    display: flex;
  }

  .navbarItem {
    cursor: pointer;
  }

  .navbarLogoContainer {
    width: 40px;
    height: 40px;
  }

  .navbarLogoImg {
    width: 40px;
    height: 40px;
  }
}
