.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.sliderContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background-color: var(--background-color);
  transform: translateX(100%);
  animation: slideIn 0.5s forwards;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 24px;
}

.sliderContainer h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.sliderContainer p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 40px;
}

.resumeButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.resumeButton:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .sliderContainer {
    width: 60%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
