.worksWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.worksWrapper h1 {
  font-size: clamp(2.5rem, 6vw, 8rem);
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  padding-inline: 20px;
}

.worksList {
  width: 100%;
  max-width: 1330px;
}

.workItem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #333;
  padding-block: 40px;
  position: relative;
}

.workDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.companyName {
  font-size: clamp(2rem, 5vw, 2.75rem);
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
}

.workDetails p {
  font-size: clamp(1.5rem, 2vw, 1.75rem);
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
}

.meta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.9rem;
  color: #aaa;
}

.workImageCon {
  flex: 1;
  padding: 20px;
}

.workImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.previewLinkBtn {
  width: 80px;
  border: none;
}
.previewLinkBtn button {
  font-size: clamp(0.5rem, 2vw, 1rem);
  white-space: nowrap;
}

@media (min-width: 768px) {
  .workItem {
    flex-direction: row;
  }

  .worksWrapper h1 {
    padding-block: 56px;
  }

  .workDetails {
    flex: 1;
    align-items: inherit;
    padding-right: 40px;
  }

  .workImageCon {
    flex: 1;
    padding-left: 40px;
  }

  .workImage {
    filter: grayscale(100%);
  }

  .workItem:hover .workImage {
    transform: scale(1.05);
    filter: grayscale(0%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}
