.splashScreenWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .splashScreenWrapper {
    font-size: 2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.fadeOut {
  animation: fadeOut 1s ease-in-out;
}
